<style>
    #blogShow{
        padding: 5%;
        background-color: blanchedalmond;
    }
</style>

<div id="blogShow">
    <h2>{{blog.title}}</h2>
    <h4>{{blog.content}}</h4>
    <br>
    <p><strong>Author: </strong>{{blog.author}}</p>
    <a class="btn btn-sm btn-primary" href="/blog">Back to All</a>
</div>