<style>
    #blogShow{
        padding: 5%;
        background-color: blanchedalmond;
    }
</style>

<div id="blogShow">
    <h1>Show My Blog</h1>
    <h2>{{blog.title}}</h2>
    <p>{{blog.content}}</p>
    <a class="btn btn-sm btn-primary" href="/blog">Back to All</a>
</div>